<footer id="footer" class="border-top">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h4 id="reddit-sox-footer">Boston <span class="reddit">reddit</span> Sox</h4>
                <p>
                    <a href="https://www.reddit.com/r/redsox">https://www.reddit.com/r/redsox</a><br>
                    4 Yawkey Way, Boston MA 02215
                </p>
            </div>
            <div class="col-6 text-right">
                <ul class="list-unstyled list-inline list-social">
                    <li class="list-inline-item"><a href="https://goo.gl/maps/MXjk3YrnLX92" target="_blank" class="btn btn-lg"><i class="fab fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.reddit.com/" target="_blank" class="btn btn-lg"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="https://i.imgur.com/HxPdhIp.jpg" target="_blank" class="btn btn-lg"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script src="vendors/vendor.js"></script>
<script src="js/main.js"></script>
</body>

</html>