@font-face
{
    font-family: 'Bosox';
    src: url('../fonts/Bosox.ttf') format('truetype');
}

@font-face
{
    font-family: 'Bosox Full';
    src: url('../fonts/Bosox Full.ttf') format('truetype');
}

@font-face
{
    font-family: 'Aileron';
    src: url('../fonts/Aileron.otf') format('opentype');
}

@font-face
{
    font-family: 'Aileron Bold';
    src: url('../fonts/Aileron Bold.otf') format('opentype');
}

@font-face
{
    font-family: 'Aileron Heavy';
    src: url('../fonts/Aileron Heavy.otf') format('opentype');
}

@font-face
{
    font-family: 'Aileron Black';
    src: url('../fonts/Aileron Black.otf') format('opentype');
}

.wordmark
{
    height: 10%;
    margin: 0 auto;
}

.record
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $sox-blue;
    border-radius: 1.5rem;
}

.copyright, .date
{
    font-family: "Aileron Black";
    font-size: 6rem;
    line-height: 6rem;
    text-transform: uppercase;
    color: white;
}

.name
{
    font-family: "Bosox";
    font-size: 8.5rem;
    color: white;
    text-shadow: 0 0 2rem $sox-blue, 0 0 2rem $sox-blue, 0 0 2rem $sox-blue,
                 0 0 5rem $sox-red, 0 0 5rem $sox-red, 0 0 8rem $sox-red, 0 0 10rem $sox-red,
                 0 0 8rem $sox-red, 0 0 10rem $sox-red, 0 0 15rem $sox-red, 0 0 20rem $sox-red;
    margin-top: 2rem;
}