@font-face
{
    font-family: Helvetica ;
    src: url( ../fonts/HelveticaCondensed.OTF ) ;
}

@font-face
{
    font-family: Aileron ;
    src: url( ../fonts/AileronBold.OTF ) ;
}

@font-face
{
    font-family: AileronBold ;
    src: url( ../fonts/AileronHeavy.OTF ) ;
}

@font-face
{
    font-family: AileronBlack ;
    src: url( ../fonts/AileronBlack.OTF ) ;
}

@media screen and ( min-width: 1720px )
{
    body
    {
        background-position: -250px -550px;
background-image: url('../images/Madigan2880.jpg') ;
        }
}

@media screen and ( max-width: 1719px )
{
    body
    {
        background-image: url( "../images/Madigan1719.jpg" ) ;
    }
}

#banner
{
    z-index: 1 ;
}

body
{
    background-color: #4a7faf ;
    background-position: center top ;
    background-position-y: -300px ;
    background-attachment: fixed ;
}

.bodyNoScroll
{
    /*
    position: fixed ;
    overflow-y: scroll ;
    width: 100% ;
    */

    /*overflow-y: scroll ;*/
}

nav
{
    background-color: #4a7faf ;
    width: 1070px ;
    height: 60px ;
    margin: auto ;
    position: relative ;
    top: -3px ;
    left: -35px ;
    box-shadow: 0px 0px 10px rgba( 0 , 0 , 0 , 0.5 ) ;
    z-index: 100 ;
}

#navwrapleft
{
    position: relative ;
    top: -3px ;
    left: -35px ;
}

#navwrapright
{
    position: relative ;
    top: -3px ;
    left: 961px ;
}

li
{
    font-family: Helvetica ;
    font-size: 40px ;
    display: inline ;
    color: white ;
    text-shadow: 0px 2px black ;
    position: relative ;
    top: 9px ;
    margin-left: 20px ;
    margin-right: 20px ;
}

li a
{
    color: white ;
    text-decoration: none ;
}

li a:hover
{
    color: #d6cdbe ;
    text-shadow: 0px 1px black ;
}

li a:active
{
    text-shadow: none ;
}

#welcome
{

}

#help
{
    float: right ;
}

#logout
{
    float: right ;
}

/*
#logout:hover
{
    color: #d6cdbe ;
    text-shadow: 0px 1px black ;
    cursor: pointer ;
}

#logout:active
{
    text-shadow: none ;
}
*/

.navFixed
{
    position: fixed ;
    top: 0 ;
    left: 50% ;
    margin-left: -535px ;
    z-index: 2 ;
}

.nwlFixed
{
    position: fixed !important ;
    top: 60px !important ;
    left: 50% !important ;
    margin-left: -535px ;
}

.nwrFixed
{
    position: fixed !important ;
    top: 60px !important ;
    left: 50% !important ;
    margin-left: 500px ;
}

.contentScroll
{
    position: relative ;
    top: 60px ;
    padding-top: 219px ;
}

#lightsOut
{
    width: 100vw ;
    height: 100vh ;
    position: fixed ;
    top: 0 ;
    left: 0 ;
    background-color: rgba( 0 , 0 , 0 , 0.75 ) ;
    z-index: 1000 ;
    display: none ;
}

#logoutPanel
{
    width: 980px ;
    height: 250px ;
    border: outset 10px #5693cc ;
    border-radius: 25px ;
    position: fixed ;
    left: 50% ;
    top: 50% ;
    margin-left: -500px ;
    margin-top: -175px ;
    background-color: white ;
    text-align: center ;
    font-family: Aileron ;
    font-size: 50px ;
    display: none ;
}

#logoutText
{
    margin-top: 95px ;
}

#timeoutPanel
{
    width: 980px ;
    height: 280px ;
    border: outset 10px #5693cc ;
    border-radius: 25px ;
    position: fixed ;
    left: 50% ;
    top: 50% ;
    margin-left: -500px ;
    margin-top: -150px ;
    background-color: white ;
    text-align: center ;
    font-family: Aileron ;
    font-size: 50px ;
    display: none ;
}

#timeoutText
{
    margin-top: 50px ;
    line-height: 85px ;
}