@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px; }
  @media only screen and (max-width: 1366px) {
    * {
      font-size: 8px; } }
  @media only screen and (max-width: 768px) {
    * {
      font-size: 6px; } }

@font-face {
  font-family: 'Bosox';
  src: url("../fonts/Bosox.ttf") format("truetype"); }

@font-face {
  font-family: 'Bosox Full';
  src: url("../fonts/Bosox Full.ttf") format("truetype"); }

@font-face {
  font-family: 'Aileron';
  src: url("../fonts/Aileron.otf") format("opentype"); }

@font-face {
  font-family: 'Aileron Bold';
  src: url("../fonts/Aileron Bold.otf") format("opentype"); }

@font-face {
  font-family: 'Aileron Heavy';
  src: url("../fonts/Aileron Heavy.otf") format("opentype"); }

@font-face {
  font-family: 'Aileron Black';
  src: url("../fonts/Aileron Black.otf") format("opentype"); }

.u-float-left {
  float: left; }

.u-float-right {
  float: right; }

.u-preload {
  transition: none !important; }

.u-unset {
  text-decoration: none; }

.u-title-hyphen {
  all: inherit;
  position: relative;
  left: 0.8rem;
  bottom: 0.6rem;
  transition-delay: -.2s; }

.u-image-wrapper {
  overflow: hidden;
  position: relative; }

@media only screen and (max-width: 999px) {
  .u-mobile-responsive {
    width: 100% !important;
    margin-top: 6rem !important; }
    .u-mobile-responsive .card {
      width: calc((100% - 4.5rem) / 2);
      float: left; }
      .u-mobile-responsive .card:not(:nth-child(2n)) {
        margin-right: 4.5rem; } }
    @media only screen and (max-width: 999px) and (max-width: 480px) {
      .u-mobile-responsive .card {
        width: 100%;
        margin-right: 0; } }

.cards {
  padding: 6rem 13%;
  background-color: #f0f0f0; }
  @media only screen and (max-width: 1366px) {
    .cards {
      padding: 6rem 10%; } }
  @media only screen and (max-width: 999px) {
    .cards {
      padding: 6rem 5%; } }

.card {
  font-size: 1.6rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: all .2s; }
  .card__top {
    font-size: 3.8rem;
    font-weight: 900;
    background: radial-gradient(#f1f1f1 50%, #c91b34 300%);
    height: 10rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 88%, 15% 88%, 12% 100%, 9% 88%, 0% 88%);
    margin-bottom: -1.2rem;
    line-height: 9.3rem;
    font-family: 'Bosox';
    color: #c91b34;
    padding: 0 8%;
    position: relative;
    border-radius: 4px 4px 0 0;
    z-index: 10; }
    .card__top i {
      display: inline-block;
      width: 3rem;
      height: 5rem;
      font-size: 2rem;
      text-align: center;
      background-color: #c91b34;
      color: white;
      padding-top: 1rem;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 80%, 0 100%);
      position: absolute;
      top: 0;
      right: 8%; }
  .card__img {
    width: 100%;
    margin-bottom: -0.4rem;
    z-index: -1;
    transition: all 1.5s; }
    .card__img:hover {
      transform: scale(1.05);
      opacity: 0.8; }
  .card__vid {
    width: 100%;
    margin-bottom: 2rem; }
  .card__content {
    font-size: 1.8rem;
    font-family: 'Aileron';
    line-height: 2.2rem;
    padding: 8%;
    background-color: white; }
    .card__content p {
      font-size: 1.8rem;
      font-family: 'Aileron';
      line-height: 2.2rem; }
      .card__content p:not(:first-child) {
        margin-top: 2rem; }
  .card__dark {
    font-size: 2.5rem;
    background-color: #c91b34;
    color: white;
    font-family: 'Aileron Bold';
    padding: 8%; }
    .card__dark--quote {
      font-family: 'Bosox';
      font-size: 3rem;
      margin-top: 2rem; }
  .card__blurb {
    font-size: 4rem;
    font-family: 'Bosox';
    color: #c91b34;
    line-height: 3rem;
    margin: 3rem 0;
    padding: 5% 5%;
    border-top: 2px solid #c91b34;
    border-bottom: 2px solid #c91b34; }
  .card__social {
    margin: 2rem 0; }
    .card__social a {
      text-decoration: none;
      color: white; }
      .card__social a:not(:last-child) {
        margin-right: 0.3rem; }
      .card__social a i {
        height: 3rem;
        width: 3rem;
        text-align: center;
        line-height: 3rem;
        font-size: 1.8rem;
        border-radius: 100%;
        transition: all .2s; }
        .card__social a i.fa-facebook-f {
          background-color: #3b5997; }
        .card__social a i.fa-twitter {
          background-color: #28aae1; }
        .card__social a i.fa-linkedin-in {
          background-color: #0274b3; }
        .card__social a i.fa-envelope {
          font-size: 1.7rem;
          background-color: #333; }
        .card__social a i:hover {
          transform: scale(1.3); }
  .card__link {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 3rem; }
    .card__link:before {
      content: url("../img/link.png");
      display: inline-block;
      width: 2.8rem; }
    .card__link:hover {
      text-decoration: underline; }
  .card__bottom {
    background: radial-gradient(#f1f1f1 30%, #c91b34 600%);
    color: #c91b34;
    height: 6rem;
    line-height: 6rem;
    padding: 0 8%;
    font-family: 'Aileron Bold';
    font-size: 1.8rem;
    border-radius: 0 0 4px 4px; }
    .card__bottom i {
      color: #c91b34;
      font-size: 1.8rem;
      margin-right: 1rem; }
      .card__bottom i.fa-thumbtack {
        position: relative;
        top: 0.1rem; }
  .card:not(:last-child) {
    margin-bottom: 6.5rem; }
  .card:hover {
    transform: scale(1.01);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.15); }

.older {
  display: block;
  text-decoration: none;
  color: white;
  width: 20rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 8rem;
  font-size: 2rem;
  font-family: 'Bosox';
  background-color: #c91b34;
  border-radius: 4px;
  line-height: 6rem;
  text-align: center;
  font-size: 3rem;
  position: relative;
  transition: .2s; }
  .older:before {
    content: "«";
    position: relative;
    bottom: 0.3rem;
    margin-right: 0.2rem; }
  .older:hover {
    transform: scale(1.1) translateY(-0.5rem);
    box-shadow: 0px 0.5rem 1.5rem rgba(0, 0, 0, 0.1); }

.header {
  background: linear-gradient(rgba(201, 27, 52, 0.7), rgba(201, 27, 52, 0.7)), url("../img/fenway.jpg");
  background-size: 100% auto;
  width: 100%;
  height: 37rem;
  position: relative;
  text-align: center;
  padding-top: 1.1rem; }
  .header__title {
    font-family: 'Bosox';
    text-decoration: none;
    color: white;
    font-size: 13rem;
    transition: all 0.3s ease-out;
    text-shadow: 0 0 2rem rgba(252, 231, 234, 0.8);
    font-weight: 500;
    width: auto; }
    .header__title:hover {
      color: #c91b34;
      text-shadow: 0 0 10rem #fce7ea, 0 0 8rem #fce7ea, 0 0 7rem #fce7ea, 0 0 6rem #fce7ea, 0 0 5rem #fce7ea, 0 0 5rem #fce7ea, 0 0 5rem #fce7ea, 0 0 4rem #fce7ea, 0 0 4rem #fce7ea; }
  .header__subheading {
    font-family: 'Aileron Bold';
    color: white;
    font-size: 3rem;
    margin-top: -1.5rem; }
    @media only screen and (max-width: 560px) {
      .header__subheading {
        padding: 0 10rem; } }
    @media only screen and (max-width: 480px) {
      .header__subheading {
        padding: 0 9rem; } }
  .header__social {
    margin-top: 2.5rem;
    color: white; }
    .header__social a {
      color: white; }
      .header__social a i {
        font-size: 3.5rem;
        transition: all 0.2s; }
        .header__social a i:hover {
          transform: scale(1.3) translateY(-0.3rem);
          transition: all 0.2s; }
      .header__social a:not(:first-child) {
        margin-left: 1.5rem; }
  .header__nav {
    height: 8rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #c91b34;
    border-top: 10px solid #b3182e;
    list-style: none;
    padding: 0 13%;
    line-height: 7rem;
    text-align: left; }
    @media only screen and (max-width: 1366px) {
      .header__nav {
        padding: 0 10%; } }
    .header__nav--a {
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      color: white;
      font-size: 2rem; }
      .header__nav--a:not(:first-child) {
        margin-left: 3rem; }
        @media only screen and (max-width: 1600px) {
          .header__nav--a:not(:first-child) {
            margin-left: 1.5rem; } }
      .header__nav--a:not(:first-child) .header__nav--li:before {
        content: "/";
        margin-right: 3rem;
        font-weight: 900;
        font-size: 2rem;
        position: relative;
        top: -0.4rem; }
        @media only screen and (max-width: 1600px) {
          .header__nav--a:not(:first-child) .header__nav--li:before {
            margin-right: 1.5rem; } }
    .header__nav--ul {
      display: inline-block; }
      @media only screen and (max-width: 1140px) {
        .header__nav--ul {
          display: none; } }
    .header__nav--li {
      font-family: 'Bosox';
      font-size: 2.8rem;
      list-style: none;
      transition: all .2s; }
      .header__nav--li:hover {
        text-shadow: 0 0 1rem #fce7ea; }
    .header__nav .fas {
      color: white;
      line-height: 6rem;
      transition: all .2s; }
      .header__nav .fas.fa-search {
        float: right;
        font-size: 3rem; }
        .header__nav .fas.fa-search:hover {
          transform: scale(1.3) translateX(-0.3rem); }
      .header__nav .fas.fa-bars {
        float: left;
        display: none;
        font-size: 3.5rem; }
        @media only screen and (max-width: 1140px) {
          .header__nav .fas.fa-bars {
            display: block; } }
        .header__nav .fas.fa-bars:hover {
          transform: scale(1.3) translateX(0.3rem); }

.row {
  width: 100%;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 3rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 4.5rem; }
      @media only screen and (max-width: 999px) {
        .row [class^="col-"]:not(:last-child):not(:first-of-type) {
          margin-right: 0; } }
  .row .col-1-of-2, .row .col-2-of-4 {
    width: calc((100% - 4.5rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - (4.5rem * 2)) / 3); }
    @media only screen and (max-width: 999px) {
      .row .col-1-of-3 {
        width: calc((100% - 4.5rem) / 2); }
        .row .col-1-of-3:not(:first-of-type) {
          margin-right: none !important; } }
    @media only screen and (max-width: 480px) {
      .row .col-1-of-3 {
        width: 100%; } }
  .row .col-2-of-3 {
    width: calc(((100% - (4.5rem / 2)) / 3) * 2); }
  .row .col-1-of-4 {
    width: calc((100% - (4.5rem * 3)) / 4); }
  .row .col-3-of-4 {
    width: calc((100% - (4.5rem  / 3)) * 0.75); }

.footer {
  padding: 0 13%;
  height: 40rem;
  background-color: #c91b34;
  border-top: 10px solid #b3182e;
  padding-top: 4rem;
  position: relative; }
  .footer__heading {
    font-family: 'Bosox';
    color: white;
    font-size: 3rem;
    margin-bottom: 1.5rem; }
  .footer__tag {
    text-decoration: none;
    color: #f0f0f0;
    border-radius: 6px;
    background-color: #e4334d;
    padding: 1rem;
    font-size: 1.5rem;
    font-family: 'Aileron';
    display: inline-block;
    margin: .5rem .2rem;
    transition: .2s; }
    .footer__tag:hover {
      background-color: #ea6074; }
  .footer__post {
    font-family: 'Aileron';
    display: block;
    text-decoration: none;
    color: #f0f0f0;
    font-size: 1.8rem; }
    .footer__post:not(:last-child) {
      margin-bottom: 1.5rem; }
    .footer__post:before {
      content: "»";
      margin-right: 0.5rem; }
    .footer__post:hover {
      text-decoration: underline; }
  .footer__paragraph {
    font-family: 'Aileron';
    color: #f0f0f0;
    font-size: 1.8rem; }
    .footer__paragraph em {
      font-size: 1.8rem; }
    .footer__paragraph:not(:first-child) {
      margin-top: 3rem; }
    .footer__paragraph a {
      text-decoration: none;
      color: #f0f0f0;
      font-size: 1.8rem; }
      .footer__paragraph a:hover {
        text-decoration: underline; }
  .footer .col-1-of-3:nth-child(2) {
    padding-left: 5rem; }
  .footer .row:last-child {
    background-color: #b3182e;
    height: 7rem;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 13%; }
  .footer__link {
    font-family: 'Bosox';
    color: white;
    text-decoration: none;
    line-height: 7rem;
    font-size: 3rem; }
    .footer__link:hover {
      text-decoration: underline; }
  @media only screen and (max-width: 1140px) {
    .footer [class^="col-"] {
      width: 100%; }
      .footer [class^="col-"]:not(:first-of-type) {
        display: none; } }
