<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>

    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" path="/404.aspx" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>

  <system.web>
      <compilation    debug="true" targetFramework="4.6.1" />
      <httpRuntime    targetFramework="4.6.1" />
      <authentication mode="Forms"/>
      <sessionState   mode="InProc"
                      cookieless="false"
                      regenerateExpiredSessionId="true"
                      timeout="30"/>
    
    <!-- Change customErrors mode="Off" for debugging purposes -->
    <customErrors mode="On" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="/404.aspx" />
    </customErrors>
    </system.web>
  
    <system.codedom>
        <compilers>
            
        </compilers>
    </system.codedom>
  
    <connectionStrings>
        <add connectionString="Server=cit386.carmzavnd0wt.us-west-2.rds.amazonaws.com;
                               Database=advisingDB;
                               User ID=Administrator;
                               Password=cit386-01" 
             name="CIT386-DB" />

        <add connectionString="Server=cit386.carmzavnd0wt.us-west-2.rds.amazonaws.com;
                               Database=finalDB;
                               User ID=Administrator;
                               Password=cit386-01"
             name="FINAL-DB" />
    </connectionStrings>
</configuration>
