@font-face
{
    font-family: 'Bosox';
    src: url('../fonts/Bosox.ttf') format('truetype');
}

@font-face
{
    font-family: 'Bosox Full';
    src: url('../fonts/Bosox Full.ttf') format('truetype');
}

@font-face
{
    font-family: 'Aileron';
    src: url('../fonts/Aileron.otf') format('opentype');
}

@font-face
{
    font-family: 'Aileron Bold';
    src: url('../fonts/Aileron Bold.otf') format('opentype');
}

@font-face
{
    font-family: 'Aileron Heavy';
    src: url('../fonts/Aileron Heavy.otf') format('opentype');
}

@font-face
{
    font-family: 'Aileron Black';
    src: url('../fonts/Aileron Black.otf') format('opentype');
}

@font-face
{
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.dfont');
}

@font-face
{
    font-family: 'Constitution';
    src: url('../fonts/Constitution.ttf');
}