@import 'bootstrap.scss';

body { overflow-x: hidden; }

.carousel-item
{
    height: 450px;
    text-shadow: 0 2px 5px black;
}

#heading-home
{
    position: relative;
    min-height: 200px;
    background: url('../img/lights.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    text-shadow: 0 2px 5px black;
}

.dark-overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

#video-play
{
    position: relative;
    width: 100%;
    min-height: 200px;
    background: url('../img/media.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0 -300px;
}

footer#main-footer
{
    background-color: black;
    color: white;
}

.card
{
    border: 1px solid #444;

    .card-body
    {
        background: #ccc;
    }
}

.about-header, .contact-header
{
    background-image: url('../img/image1.jpg');
    background-position: left bottom;
    background-attachment: fixed;
    color: white;
    text-shadow: 0 3px 10px rgba(0,0,0,0.7);
}

.contact-header
{
    background-position: right bottom;
}

.about-header h3, .contact-header h4
{
    display: block;
    max-width: 600px;
    margin: 0 auto;
}

#what-we-do p { font-weight: 600; }

#sawx
{
    width: 350px;
    max-width: 90%;
    height: auto;
    align-self: center;
}

.card
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    padding: 20px;
    text-align: center;
    min-height: 100%;
}

.card-red { background-color: #bd3039; }
.card-black { background-color: #010101; }
.card-icon { font-size: 30px; }

.card p
{
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 0;
}

.contact-form fieldset
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0;
    padding: 50px;
    border: 2px solid #eee;
    border-radius: 5px;
}

.contact-form input:not([type="submit"]), .contact-form textarea
{
    margin: 5px 0;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #eee;
    padding: 5px 10px;
}

.contact-form input[type="submit"] { width: 100%; }

#our-staff
{
    background-color: #333;
    color: white;
    text-align: center;
}

.staff-portrait img
{
    margin: 30px 0 10px 0;
    border-radius: 50%;
}

.staff-portrait h4 { margin-bottom: 10px; }