@font-face {
  font-family: "Bosox";
  src: url("Bosox.ttf") format("truetype");
}
html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url("../img/background.png");
}

#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 2vw;
}

header, footer {
  display: block;
  width: 100rem;
  max-width: 100%;
  background-color: #1a3553;
  height: 12vh;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
header:hover h1 {
  transform: scale(1.1);
}

footer {
  box-shadow: 0 -1rem 2rem rgba(0, 0, 0, 0.2);
}

main {
  height: 55vh;
  margin: 5vh auto;
  background-color: #1a3553;
  width: 85rem;
  max-width: 85%;
  display: grid;
  grid-template: 1fr/1fr 0.75fr;
}

h1, h2, h3 {
  font-family: "Bosox";
  color: white;
  transition: transform 0.2s;
}

h1 {
  font-size: 6rem;
  text-shadow: 0 0.2rem 0 #c91b34;
}

h3 {
  font-size: 4rem;
  text-shadow: 0 -0.2rem 0 #c91b34;
}
h3 a {
  display: inline-block;
  color: white;
  transition: all 0.2s;
  transform: rotate(0deg);
}
h3 a:hover {
  font-size: 4.5rem;
  color: #c91b34;
  text-shadow: 0 -0.1rem 0 white;
}

.emdash {
  vertical-align: top;
}

nav {
  height: 90%;
  width: 80%;
  background-color: #eee;
  margin: 5% 10%;
  border-radius: 5rem;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr 1fr/1fr;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  padding: 1rem 0 2rem 0;
}
nav:hover {
  transform: scale(1.02);
}
nav h2, nav a {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav h2 {
  color: #1a3553;
  font-size: 5.5rem;
  text-shadow: 0 0.1rem 0 #c91b34;
}
nav a {
  color: #c91b34;
  text-decoration: none;
  font-size: 3rem;
  font-family: "Bosox";
  transition: all 0.2s;
}
nav a:last-of-type {
  border-radius: 0 0 2rem 2rem;
}
nav a:hover {
  background-color: #c91b34;
  color: white;
  text-shadow: 0 0.1rem 0 #1a3553;
  font-size: 4rem;
  box-shadow: inset 0 0 2rem rgba(0, 0, 0, 0.5);
}

#logo {
  height: 90%;
  width: 90%;
  margin: 5% 10% 5% 0;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
#logo:hover {
  animation: wiggle 0.5s forwards;
}

#assignment1 {
  grid-template-columns: 1fr 1fr;
  padding: 5%;
  text-align: center;
}
#assignment1 h2 {
  text-align: center;
  font-size: 5rem;
  color: white;
  text-shadow: 0 0.2rem 0 #c91b34;
  margin-bottom: 3%;
}

@keyframes wiggle {
  0% {
    transform: none;
  }
  20% {
    transform: rotate(5deg) scale(1.02);
  }
  40% {
    transform: rotate(-5deg) scale(1.04);
  }
  60% {
    transform: rotate(5deg) scale(1.06);
  }
  80% {
    transform: rotate(-5deg) scale(1.08);
  }
  100% {
    transform: scale(1.1);
  }
}

/*# sourceMappingURL=style.css.map */
